.align-center {
  text-align: center;
}

#content {
  margin: 1em auto;
}

div.vs {
  text-align: center;
  font-weight: bold;
}

klasemen-page>div>div.row {
  overflow-x: scroll;
}

klasemen-page img {
  max-width: 2em;
}

#bookmark-bt {
  float: right;
}

teamdetail-page .detail-logo {
  max-width: 16em;
}

teamdetail-page .detail-logo img {
  max-height: 13em;
}

.btn-floating>img {
  margin: 15%;
}

.center-loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btDelete, #btAdd {
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  teamdetail-page h5.detail-name {
    margin-top: 25%;
  }
}
